### Sqllite3

In [58]:
import sqlite3
connection = sqlite3.connect('trial.db')

In [59]:
cursor = connection.cursor()

In [63]:
cursor.execute('''
    create table if not exists Students(
               Id integer Primary Key,
               Name text,
               Age integer,
               Department text)
''')

connection.commit()

In [ ]:
### I don't know why but there was an error which says that there was no column Department so I have to add it again manually

cursor.execute("ALTER TABLE Students ADD COLUMN Department TEXT")
connection.commit()

In [67]:
cursor.execute('''
    insert into Students(Name, Age, Department)
               values("Sohit", 21, "ECE")
''')
cursor.execute('''
    insert into Students(Name, Age, Department)
               values("Aladdin", 31, "CS")
''')
cursor.execute('''
    insert into Students(Name, Age, Department)
               values("Alibaba", 41, "IOT")
''')

connection.commit()

In [72]:
cursor.execute('select * from Students')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Sohit', 21, None, 'ECE')
(2, 'Sohit', 21, None, 'ECE')
(3, 'Aladdin', 31, None, 'CS')
(4, 'Alibaba', 41, None, 'IOT')

In [76]:
cursor.execute('delete from Students where Id =1')
connection.commit()

In [77]:
cursor.execute('select * from Students')
rows = cursor.fetchall()

for row in rows:
    print(row)

(2, 'Sohit', 21, None, 'ECE')
(3, 'Aladdin', 31, None, 'CS')
(4, 'Alibaba', 41, None, 'IOT')

In [ ]:
### The sqllite3 doesn't offer auto adjustment of the id's. So I have to delete all the rows and have to do it again
cursor.execute('delete from Students')

In [79]:
cursor.execute('select * from Students')
rows = cursor.fetchall()

for row in rows:
    print(row)

In [80]:
cursor.execute('''
    insert into Students(Name, Age, Department)
               values("Sohit", 21, "ECE")
''')
cursor.execute('''
    insert into Students(Name, Age, Department)
               values("Aladdin", 31, "CS")
''')
cursor.execute('''
    insert into Students(Name, Age, Department)
               values("Alibaba", 41, "IOT")
''')

connection.commit()

In [81]:
cursor.execute('select * from Students')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Sohit', 21, None, 'ECE')
(2, 'Aladdin', 31, None, 'CS')
(3, 'Alibaba', 41, None, 'IOT')